body {
    scroll-behavior: smooth;
    background-color: #f9fdf9;
  }
  
  h2 {
    margin-bottom: 1rem;
    font-weight: 600;
  }
  
  section {
    background: #ffffff;
    padding: 2rem;
    border-left: 5px solid #2a5d27;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }
  .col-md-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e9c462d;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
}
 